.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 21px;
  font-family: 'Raleway';
  color: inherit;
}

.contact h2 {
  font-weight: bold;
  text-decoration: underline 0.15em;
  text-decoration-color: hsla(260, 76%, 68%, 0.986);
}

.phone {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mail {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon-cont {
  font-size: 1.5em;
  margin: 0 1vh;
}