.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 21px;
  font-family: 'Raleway';
  color: inherit;
}

.projects h2 {
  font-weight: bold;
  text-decoration: underline 0.15em;
  text-decoration-color: hsla(260, 76%, 68%, 0.986);
}


.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  color: inherit;
  font-size: 21px;
}

.project-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: inherit;
  width: fit-content;
  margin: 2em 0 2em 0;
  /* : 300px; */
}


.p-start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  color: inherit;
  font-size: 21px;
  align-self: flex-start;
}

.p-end {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  color: inherit;
  font-size: 21px;
  align-self: flex-end;
}

.project-btn {
  color: inherit;
  margin: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  background: none;
  border:none;
  cursor: default;
}

.p-1 {
  border-bottom: 5px solid rgba(111,24,164,0.63);
  border-radius: 0px 0px 24px 0px;
}

.p-2 {
  border-top: 5px solid rgba(111,24,164,0.63);
  border-bottom: 5px solid rgba(111,24,164,0.63);
  border-radius: 40px 0px 0px 40px;
}

.p-3 {
  border-top: 5px solid rgba(111,24,164,0.63);
  border-radius: 0px 40px 0px 0px;
}

.git-icon {
  font-size: 2em;
}

 a p {
  color: inherit;
  font-weight: bold;
  font-size: 21px;
  cursor: default;
}

.project-image {
  cursor: pointer;
  width: 50vh;
}